# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# System files
.DS_Store
Thumbs.db

# Ignore everything in input/output except .gitkeep
input/*
!input/.gitkeep

output/*
!output/.gitkeep

# Optional: logs or temp files
*.log
*.tmp

# IDE / editor configs (VSCode, PyCharm, etc.)
.vscode/
.idea/
